.main {
  margin: 0 auto;
  width: 368px;
  .icon {
    font-size: 24px;
    color: rgba(0,0,0,.2);
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #1890ff;
    }
  }
  .other {
    text-align: left;
    margin-top: 24px;
    line-height: 22px;
    .signup {
      float: right;
    }
  }
}