.account {
  .tabs {
    padding: 0 2px;
    margin: 0 -2px;
    :global {
      .ant-tabs-tab {
        font-size: 16px;
        line-height: 24px;
      }
      .ant-input-affix-wrapper .ant-input:not(:first-child) {
        padding-left: 34px;
      }
    }
  }
  :global {
    .ant-tabs-bar {
      margin-bottom: 24px;
      border-bottom: none;
      text-align: center;
    }
  }
  .prefixIcon {
    font-size: 14px;
    color: rgba(0,0,0,.25);
  }
  .picCaptcha {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
  }
  .submit {
    margin-top: 24px;
    width: 100%;
  }
}